@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <h1 class="display-4">Next-Gen Network Testing</h1>
        <p class="lead">Qoip NetTest lets you analyze your network with ease.</p>
        <a href="#" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</section>

<!-- Features Section -->
<section class="features container">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="feature-card">
                <h3>Fast Analysis</h3>
                <p>Real-time network diagnostics with low latency.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-card">
                <h3>Secure</h3>
                <p>Built with security in mind for Zero Trust environments.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-card">
                <h3>Easy to Use</h3>
                <p>Simple interface for powerful network testing.</p>
            </div>
        </div>
    </div>
</section>



<!-- This is you Section -->
<section class="this-is-you container">
    <div class="row text-center">
        <div class="col-md-12">
            <div id="this-is-you-app">
                <button v-if="!clientIpInfo" v-on:click="fetchClientIpInfo" class="btn btn-primary">Get Client IP Information</button>
                <div v-if="loading">Loading...</div>
                <div v-else-if="error">{{ error }}</div>
                <div v-else-if="clientIpInfo">
                    <h3>This is you</h3>
                    <table class="table table-sm table-bordered" style="table-layout: fixed; width: 100%;">
                        <tbody>
                            <tr v-if="clientIpInfo.clientIpAddress">
                                <th style="width: 30%;">Client IP</th>
                                <td style="word-wrap: break-word; text-align: left;">
                                    {{ clientIpInfo.clientIpAddress }}
                                    <button v-if="!whoisInfo[clientIpInfo.clientIpAddress]" v-on:click="fetchWhoisInfo(clientIpInfo.clientIpAddress)" class="btn btn-secondary btn-sm">Get WHOIS</button>
                                    <div v-if="whoisLoading[clientIpInfo.clientIpAddress]">Loading WHOIS...</div>
                                    <div v-else-if="whoisError[clientIpInfo.clientIpAddress]">{{ whoisError[clientIpInfo.clientIpAddress] }}</div>
                                    <div v-else-if="whoisInfo[clientIpInfo.clientIpAddress]">
                                        <h6>Network Whois record - Queried {{ whoisInfo[clientIpInfo.clientIpAddress].whoisServer }} for {{ clientIpInfo.clientIpAddress }}</h6>
                                        <pre>{{ whoisInfo[clientIpInfo.clientIpAddress].whoisData }}</pre>
                                    </div>
                                </td>
                            </tr>
                            <tr v-if="clientIpInfo.clientIpCanonical">
                                <th style="width: 30%;">Client IP Canonical</th>
                                <td style="word-wrap: break-word; text-align: left;">{{ clientIpInfo.clientIpCanonical }}</td>
                            </tr>
                            <tr v-if="clientIpInfo.iPv4Address">
                                <th style="width: 30%;">IPv4</th>
                                <td style="word-wrap: break-word; text-align: left;">
                                    {{ clientIpInfo.iPv4Address }}
                                    <button v-if="!whoisInfo[clientIpInfo.iPv4Address]" v-on:click="fetchWhoisInfo(clientIpInfo.iPv4Address)" class="btn btn-secondary btn-sm">Get WHOIS</button>
                                    <div v-if="whoisLoading[clientIpInfo.iPv4Address]">Loading WHOIS...</div>
                                    <div v-else-if="whoisError[clientIpInfo.iPv4Address]">{{ whoisError[clientIpInfo.iPv4Address] }}</div>
                                    <div v-else-if="whoisInfo[clientIpInfo.iPv4Address]">
                                        <h6>Network Whois record - Queried {{ whoisInfo[clientIpInfo.iPv4Address].whoisServer }} for {{ clientIpInfo.iPv4Address }}</h6>
                                        <pre>{{ whoisInfo[clientIpInfo.iPv4Address].whoisData }}</pre>
                                    </div>
                                </td>
                            </tr>
                            <tr v-if="clientIpInfo.iPv4Canonical">
                                <th style="width: 30%;">IPv4 Canonical</th>
                                <td style="word-wrap: break-word; text-align: left;">{{ clientIpInfo.iPv4Canonical }}</td>
                            </tr>
                            <tr v-if="clientIpInfo.iPv6Address">
                                <th style="width: 30%;">IPv6</th>
                                <td style="word-wrap: break-word; text-align: left;">
                                    {{ clientIpInfo.iPv6Address }}
                                    <button v-if="!whoisInfo[clientIpInfo.iPv6Address]" v-on:click="fetchWhoisInfo(clientIpInfo.iPv6Address)" class="btn btn-secondary btn-sm">Get WHOIS</button>
                                    <div v-if="whoisLoading[clientIpInfo.iPv6Address]">Loading WHOIS...</div>
                                    <div v-else-if="whoisError[clientIpInfo.iPv6Address]">{{ whoisError[clientIpInfo.iPv6Address] }}</div>
                                    <div v-else-if="whoisInfo[clientIpInfo.iPv6Address]">
                                        <h6>Network Whois record - Queried {{ whoisInfo[clientIpInfo.iPv6Address].whoisServer }} for {{ clientIpInfo.iPv6Address }}</h6>
                                        <pre>{{ whoisInfo[clientIpInfo.iPv6Address].whoisData }}</pre>
                                    </div>
                                </td>
                            </tr>
                            <tr v-if="clientIpInfo.iPv6Canonical">
                                <th style="width: 30%;">IPv6 Canonical</th>
                                <td style="word-wrap: break-word; text-align: left;">{{ clientIpInfo.iPv6Canonical }}</td>
                            </tr>
                            <tr v-if="clientIpInfo.proxyAddresses.length">
                                <th style="width: 30%;">Proxies</th>
                                <td style="word-wrap: break-word; text-align: left;">
                                    <div v-for="proxy in clientIpInfo.proxyAddresses" :key="proxy">
                                        {{ proxy }}
                                        <button v-if="!whoisInfo[proxy]" v-on:click="fetchWhoisInfo(proxy)" class="btn btn-secondary btn-sm">Get WHOIS</button>
                                        <div v-if="whoisLoading[proxy]">Loading WHOIS...</div>
                                        <div v-else-if="whoisError[proxy]">{{ whoisError[proxy] }}</div>
                                        <div v-else-if="whoisInfo[proxy]">
                                            <h6>Network Whois record - Queried {{ whoisInfo[proxy].whoisServer }} for {{ proxy }}</h6>
                                            <pre>{{ whoisInfo[proxy].whoisData }}</pre>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr v-if="clientIpInfo.realIpAddress">
                                <th style="width: 30%;">Real IP</th>
                                <td style="word-wrap: break-word; text-align: left;">
                                    {{ clientIpInfo.realIpAddress }}
                                    <button v-if="!whoisInfo[clientIpInfo.realIpAddress]" v-on:click="fetchWhoisInfo(clientIpInfo.realIpAddress)" class="btn btn-secondary btn-sm">Get WHOIS</button>
                                    <div v-if="whoisLoading[clientIpInfo.realIpAddress]">Loading WHOIS...</div>
                                    <div v-else-if="whoisError[clientIpInfo.realIpAddress]">{{ whoisError[clientIpInfo.realIpAddress] }}</div>
                                    <div v-else-if="whoisInfo[clientIpInfo.realIpAddress]">
                                        <h6>Network Whois record - Queried {{ whoisInfo[clientIpInfo.realIpAddress].whoisServer }} for {{ clientIpInfo.realIpAddress }}</h6>
                                        <pre>{{ whoisInfo[clientIpInfo.realIpAddress].whoisData }}</pre>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 30%;">Browser Agent</th>
                                <td style="word-wrap: break-word; text-align: left;">{{ browserAgentInfo }}</td>
                            </tr>
                            <tr>
                                <th style="width: 30%;">Platform</th>
                                <td style="word-wrap: break-word; text-align: left;">{{ platformInfo }}</td>
                            </tr>
                            <tr>
                                <th style="width: 30%;">Language</th>
                                <td style="word-wrap: break-word; text-align: left;">{{ languageInfo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testing Ground Section -->
<section class="testing-ground container">
    <div class="row text-center">
        <div class="col-md-6">
            <div class="testing-card">
                <h3>Network Connectivity</h3>
                <p>Test your network connectivity and DNS requests.</p>
                <a href="/networkconnectivity" class="btn btn-secondary">Go to Network Connectivity</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="testing-card">
                <h3>Security Encryption</h3>
                <p>Validate SSL certificates and encryption.</p>
                <a href="/securityencryption" class="btn btn-secondary">Go to Security Encryption</a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="module" src="~/js/home.js" asp-append-version="true"></script>
}

